
.back-con{
    background-image: url('../images/maker.gif') !important;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
.title{
font-weight: 800;
font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

}        
.elements, .info{
background: linear-gradient(360deg, #201717, transparent) !important;
font-weight: 700;
font-family: Georgia, 'Times New Roman', Times, serif;
}

.info{
background: linear-gradient(360deg, #201717, transparent) !important;
font-weight: 700;
font-family: Georgia, 'Times New Roman', Times, serif;
}
